body {
    background: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}