/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, 0.8); }
a { color: rgb(0, 0, 0); }
a:hover { color:rgb(162, 162, 162)}

/* GLOBAL TYPOGRAPHY */
BODY {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}
/* SITE STRUCTURE */
header {
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header a:hover {
    color: rgb(0, 0, 0)
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background:rgb(247, 247, 247);
}

/* FOOTER */
footer {
    border-top: 1px solid black;
    padding: 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    background-color: white;
    text-align: center;
    color: black;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}

/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */

/* SUB PAGES */
.page-sub .hero {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}

/* COURSES PAGES WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.project {
    margin: 2em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid black;
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */

/* CUSTOM HOME PAGE STYLING */
.page-home .hero {
    background-image: url('joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg');
    background-position: center top;
    background-size: cover;
}

.page-home header {
    
    width: 100%;
    
}