/* 
CSS TABLE OF CONTENTS

# GLOBAL
    # GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # GLOBAL RESETS
    # CLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (eg Images)

# LAYOUT
    # MEDI QUERIES (W/ RSPONSIVE TYPOGRAPHY)
    # CONTAINER
    # GRID (ROWS & COLUMNS)

# PAGE STRUCTURE (BASE TEMPLATE)
    # HEADER
        # SITE LOGO
        # SITE NAV
    # MAIN
        #SECTIONS
    # FOOTER

# CUSTOM STYLING
    #CUSTOM TYPE BLOCK/SPECIMEN
    #CUSTOM HELPERS

*/


/* -------------- */
/* GLOBAL STYLING */
/* -------------- */


/* SET GLOBAL VARIABLES */
:root {

    /* BASE COLORS */
    --color-body-background: rgb(255 255 255 / 1);
    --color-body-text: rgb(0 0 0 / .8);
    --color-headings: rgb(55, 71, 0);
    --color-links: rgb(51 102 204 / 1);
    --color-links-dark: rgb(0 51 153 / 1);
    --color-accent-color: rgb(102, 204, 124);
    --color-header-bg: transparent;
    --color-header-links: rgb(0, 0, 0);
    --color-hero-bg: rgb(255, 247, 222);
    --color-footer-bg: rgb(255, 240, 211);
    --color-footer-text: rgb(0, 0, 0);
    --color-footer-links: rgb(227, 162, 238);


    /* BASE TYPOGRAPHY */
    --font-body: 'Inter', Helvetica, Arial, sans-serif;
    --font-headings: 'ivypresto-text', serif;

    /* MEASUREMENT UNITS */
    --gridgap: 2em;

}

/* GLOBAL RESETS */
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* ENABLE SMOOTH SCROLLING */

html {
    scroll-behavior: smooth;
}

/* SET GLOBAL COLORS */
body {
    background: var(--color-body-background);
    color: var(--color-body-text);
}

h1,
h2,
h3 {
    color: var(--color-headings);
}

a {
    color: var(--color-links);
}

a:hover {
    color: var(--color-links-dark);
}

/* SET GLOBAL TYPOGRAPHY */
body {
    font-family: var(--font-body);
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: var(--font-headings);
}

h1 {
    font-size: 4em;
    line-height: 1.1;
}

h2 {
    font-size: 1.7em;
    line-height: 1.2;
    font-weight: 700;
}

h3 {
    font-size: 1.3em;
    line-height: 1.3;
    color: rgb(74, 74, 74);
}

p {
    max-width: 60ch;
}

address {
    font-size: inherit;
    font-style: inherit;
}

/* MEDIA QUERIES W/ RESPONSIVE TYPOGRAPHY */


body {
    font-size: 87.5%;
}

@media (min-width:768px) {
    body {
        font-size: 100%;
    }
}

@media (min-width:1250px) {
    body {
        font-size: 112.5%;
    }
}

/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

/* GRID SYSTEM */
.row {
    --gridgap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    .row.vertical-centered {
        align-items: center;
    }

    .row.swapped>*:first-child {
        order: 2;
    }

    .row.swapped>*:last-child {
        order: 1;
    }

    .one-whole {
        grid-column: span 12 / span 12;
    }

    .one-half {
        grid-column: span 6 / span 6;
    }

    .one-third {
        grid-column: span 4 / span 4;
    }

    .two-thirds {
        grid-column: span 8 / span 8;
    }

    .one-fourth {
        grid-column: span 3 / span 3;
    }

    .three-fourth {
        grid-column: span 9 / span 9;
    }

    .one-half.centered {
        grid-column-start: 4;
    }

    .one-third.centered {
        grid-column-start: 5;
    }

    .two-thirds.centered {
        grid-column-start: 3;
    }

    .two-thirds.pushed-one-third {
        grid-column-start: 5;
    }
}


/* FLEX GRID */

.row-flex {
    --gridgap: 2em;
    padding: var(--gridgap) 0;
}

@media (min-width: 768px) {
    .row-flex {
        display: flex;
        gap: var(--gridgap);
    }

    .one-fifth {
        width: 20%;
    }

    .three-fifths {
        width: 60%;
    }
}

/* DEMO GRID ONLY */
.demo .row {
    margin-bottom: 0;
    padding: 0;
}

.demo .row>* {
    background: rgb(0 0 0 / .1);
    padding: 1em;
    text-align: center;
    margin-bottom: var(--gridgap);
}

.demo p {
    margin: 0;
    max-width: none;
}

/* ------------------------ */
/* -----PAGE STRUCTURE----- */
/* ------------------------ */

.site-header {
    background-color: var(--color-header-bg);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.site-header .site-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.site-header img {
    display: block;
}

.site-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.site-header a {
    text-decoration: none;
    color: var(--color-header-links);
}

/* SITE MAIN */
.site-main {}

/* ALL SECTION */
section {
    padding-top: 6em;
    /* padding-bottom: 6em; */
}

/* HERO SECTION */
.hero {
    background-color: var(--color-hero-bg);
    padding-top: 8em;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    padding-top: 2em;
    line-height: 0.6;
}

@media (min-width:768px) {
    .hero h1 {
        line-height: 0.8;
    }
}

@media (min-width:1000px) {
    .hero h1 {
        line-height: 0.9;
    }
}

.hero h1 span.hero-headline {
    font-size: clamp(5rem, 12vw, 10rem);
    font-weight: 700;
    padding-bottom: 0;

}

.hero h1 span.hero-subhead {
    font-size: clamp(2rem, 4.5vw, 3.8rem);
    font-weight: 600;
    font-family: var(--font-body);
    white-space: nowrap;
    padding-top: 0;
}

/* SITE FOOTER */
.site-footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 5em 0;
    font-size: .8em;
}

.site-footer .img-box {
    display: contents;
}

.site-footer h1,
.site-footer h2,
.site-footer h3 {
    color: var(--color-footer-text);
}


.site-footer .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer a {
    text-decoration: none;
    color: var(--color-footer-links);
}

.site-footer .three-fifths .row {
    padding-top: 0;
}

.site-footer .three-fifths h2 {
    margin-bottom: 0;
}

.site-footer .one-fifth p {
    padding-bottom: 25em;
}




/* ------------------------ */
/* -----CUSTOM STYLING----- */
/* ------------------------ */

/* CUSTUM HELPERS */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.break {
    word-break: break-all;
}

.columns-two {
    columns: 2;
    column-gap: 3em;
}

/* CUSTOM TYPE BLOCK: HEADLINE AND SUB HEADLINE */
.headline {
    font-size: 2em;
    color: var(--color-accent-color);
    margin: 1rem 0;
    line-height: 1;
    font-style: bold;
}

.subheadline {
    font-size: 1em;
    font-weight: normal;
    margin: 1rem 0;
}

.lanikai-section-head {
    font-size: 4rem;
}

.lanikai-section-head span {
    font-size: 8rem;
}

.menu h2 {
    color: rgb(1, 93, 1);
}

.wellness h2 {
    color: rgb(66, 39, 0)
}

.story h2 {
    color: rgb(99, 0, 21)
}

.story p {
    padding-top: 15em;
}

/* animation  */

.fade-in {
    animation-name: my-fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes my-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-and-slide-in-from-left {
    transform: translateX(-40px);
    animation-name: my-fade-and-slide-in-from-left;
    animation-duration: .7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    font-size: 4rem;
}

@keyframes my-fade-and-slide-in-from-left {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-and-slide-up-from-bottom {
    transform: translateX(-40px);
    animation-name: my-fade-and-slide-up-from-bottom;
    animation-duration: .7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes my-fade-and-slide-up-from-bottom {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* SCROLL TRIGGERED ANIMATION */

/* 
.animate-me-on-scroll.shimmy-up>* {
    opacity: 0;
    transform: translateY(100px);
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all .6s ease-out;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(1) {
    transition-delay: 0;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(2) {
    transition-delay: .2s;
}

.animate-me-on-scroll.shimmy-up[data-sectionstate="active"]>*:nth-child(3) {
    transition-delay: .4s;
}

.animate-me-on-scroll.bring-together>* {
    opacity: 0;
}

.animate-me-on-scroll.bring-together>*:nth-child(1) {
    transform: translateX(-100px);
}

.animate-me-on-scroll.bring-together>*:nth-child(2) {
    transform: translateX(100px);
}

.animate-me-on-scroll.bring-together[data-sectionstate="active"]>* {
    opacity: 1;
    transform: translateX(0);
    transition: all .6s ease-out;
} */

/* SITE NAV */

.site-header .site-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-header .site-nav li {
    margin: 0;
    padding: 0;
}

.site-header .site-nav a {
    display: block;
    padding: 1em;
}

.site-header .site-nav .menu-button {
    display: none;
}

@media (max-width: 767px) {
    .site-header .site-nav .menu-button {
        display: block;
        position: absolute;
        z-index: 200;
        top: 4em;
        right: 2em;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }

    .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        min-height: 100vh;
        width: 100%;
    }

    .site-header .site-nav[data-navstate="open"] .menu-button {
        position: fixed;
    }

    .site-nav .menu-button svg {
        display: block;
    }

    .site-nav .menu-button svg rect {
        fill: rgb(0, 0, 0);
        transform-origin: center center;
    }

    .site-header .site-nav[data-navstate="closed"] ul {
        transform: translateX(100vw);
        transition: all .3s ease-in;
        opacity: 0;
    }

    .site-header .site-nav[data-navstate="open"] ul {
        transform: translateX(0);
        transition: all .3s ease-out;
        opacity: 1;
    }

    .site-nav[data-navstate="closed"] .navicon-top {
        transform: translate(0, 0) rotate(0);
    }

    .site-nav[data-navstate="open"] .navicon-top {
        transform: translate(-7px, 7px) rotate(45deg);
        animation: navicon-top-toggle .4s ease-out forwards;
    }

    @keyframes navicon-top-toggle {
        0% {
            transform: translate(0, 0) rotate(0);
        }

        50% {
            transform: translate(0px, 11px) rotate(0);
        }

        100% {
            transform: translate(-7px, 7px) rotate(45deg);
        }
    }

    .site-nav[data-navstate="open"] .navicon-mid {
        opacity: 0;
    }

    .site-nav[data-navstate="open"] .navicon-bot {
        transform: translate(-7px, -7px) rotate(-45deg);
        animation: navicon-bot-toggle .4s ease-out forwards;
    }

    @keyframes navicon-bot-toggle {
        0% {
            transform: translate(0, 0) rotate(0);
        }

        50% {
            transform: translate(0px, -11px) rotate(0);
        }

        100% {
            transform: translate(-7px, -7px) rotate(-45deg);
        }
    }
}

/* HOMEPAGE STYLE */

.menu .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    padding-top: 10em;
}

.menu .menu-grid .img-box:nth-child(1) {

    justify-self: end;
}

.menu .menu-grid .img-box:nth-child(2) {
    /* grid-column: 3 / 4; */
    align-self: end;
}

.menu .menu-grid .img-box:nth-child(3) {
    /* grid-column: 1 / 2; */
    justify-self: end;
}

.menu .menu-grid .img-box:nth-child(4) {
    /* grid-column: 2 / 4; */
}

.menu p {
    width: 20em;
}

.wellness {
    overflow-x: hidden;
}

.wellness .container {
    position: relative;

}

.wellness .wellness-banana {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-50%, 0);
}

.wellness .wellness-melon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(50%, 0);
}






/* HERO STYLE */

.lanikai-hero-slide {
    align-content: center;
    grid-template-columns: 35% 10% 60%;
    display: grid;
}

.lanikai-hero-slide .text-box {
    grid-column: 1 / 3;
    grid-row: 1;
    z-index: 10;
    padding-bottom: 0;
    font-weight: 900;
}

.lanikai-hero-slide .text-box p {
    font-size: 1.3em;
    font-weight: 100;
}

.lanikai-hero-slide .img-box {
    grid-column: 2 / 4;
    grid-row: 1;
    margin-top: 10%;
}

@media (max-width:767px) {
    .lanikai-hero-slide {
        grid-template-columns: 1fr;
    }

    .lanikai-hero-slide .text-box {
        grid-row: 2;
    }

    .lanikai-hero-slide .img-box {
        padding-top: 3em;
        grid-row: 1;
    }

    .lanikai-hero-slide h1 {
        padding-top: 0;
        margin-top: 0;
    }

}

/* MENU STYLE */



.menu-with-sidebar {
    align-items: start;
}

@media (min-width:768px) {

    .menu-nav {
        position: sticky;
        top: 0;
    }
}


.menulist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.menulist li {
    margin: 0;
    padding: 0;
    width: 31.333%;
    background-color: rgb(255, 223, 109);
    border-radius: 30px;
    padding: 1em;
    margin-bottom: 2%;
}

@media (max-width:767px) {
    .menulist li {
        width: 48%;
    }
}

.menulist .img-box {
    display: block;
    aspect-ratio: 1 / 1;
}

.menulist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.menulist h3 {
    margin: 0;
    text-align: center;
}


/* ABOUT STYLE */

.page-about .hero {
    background-color: rgb(255, 192, 192);
}

.page-about .hero h1 {
    color: rgb(74, 74, 74);
}

.story-container {
    color: white;
}

.story-container {
    background-color: rgb(214, 101, 101);
    max-width: 1000px;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em 3em;
}

@media(min-width:768px) {
    .story-container {
        padding: 2em 12% 8em 12%;
        border-radius: 0 0 50% 50%;
        margin-top: -200px;
        margin-bottom: -100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.story-container .columns-two {
    font-size: 0.8em;
}

/* .about-img .img-box {
    display: contents;
} */

.about-img {
    display: flex;
}

.about-kicker {
    font-size: 1.3em;
}

.story-container h2 {
    color: white;
    font-size: 3em;
    font-family: var(--font-body);
    font-weight: 500;
}

.story-container p {
    max-width: none;
}

.dream h2 {
    font-size: 4em;
    margin-bottom: 0;
    color: rgb(74, 74, 74);
}

.dream .row:first-child {
    padding-bottom: 0;
}

.dream .row:nth-child(2) {
    padding-top: 0;
}

@media(max-width:767px) {
    .dream h2 {
        margin-bottom: .5em;
        margin-top: 0;
    }

    .dream {
        padding-top: 0;
    }
}

/* 
.about-head {
    background-color: rgb(255, 216, 223);
}

.about .img-box {
    display: contents;
}

.about-head {
    font-size: 5em;
    font-style: bold;
}

.about-2-head {
    font-size: 5em;
    font-style: bold;
} */

/* LOCATION STYLE */

.location {
    display: flex;
    justify-content: center;
}

.page-location .hero {
    background-color: white;
}





/* SITE NAV MENU BUTTON */
/* .site-header .site-nav .menu-button {
    position: absolute;
    z-index: 200;
    top: 1em;
    right: 1.25em;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.site-header .site-nav[data-navstate="open"] .menu-button {
    position: fixed;
}

.site-nav .menu-button svg {
    display: block;
}

.site-nav .menu-button svg rect{
    fill: rgb(0, 0, 0);
    transform-origin: center center;
}

.site-nav[data-navstate="closed"] .navicon-top {
    transform: translate(0,0) rotate(0);
}

.site-nav[data-navstate="open"] .navicon-top {
    transform: translate(-7px,7px) rotate(45deg);
    animation: navicon-top-toggle .4s ease-out forwards;
}

@keyframes navicon-top-toggle {
    0% { 
        transform: translate(0,0) rotate(0);
    }
    50% {
        transform: translate(0px,11px) rotate(0);
    }
    100% { 
        transform: translate(-7px,7px) rotate(45deg);
    }
}

.site-nav[data-navstate="open"] .navicon-mid {
    opacity: 0;
}

.site-nav[data-navstate="open"] .navicon-bot {
    transform: translate(-7px,-7px) rotate(-45deg);
    animation: navicon-bot-toggle .4s ease-out forwards;
}

@keyframes navicon-bot-toggle {
    0% { 
        transform: translate(0,0) rotate(0);
    }
    50% {
        transform: translate(0px,-11px) rotate(0);
    }
    100% { 
        transform: translate(-7px,-7px) rotate(-45deg);
    }
}

.site-header .site-nav a {
    display: block;
    padding: 1em;
} */